a, .btn{
    transition: 0.5s;
    color: #38a;
}
a:active{
    color: #500;
}
a:hover, .btn:hover{
    color: #944;
    text-decoration: none;
}
header{
    color: #555;
    margin-bottom: 10px;
}
#logo{
    border: none;
    font-family: 'Aladin', Helvetica, Arial, sans-serif;
    font-size: 100px;
}
.links{
    margin-top: 22px;
    padding-right: none;
}
