/* HEADER/LOGO */
header{
    color: #555;
    margin-bottom: 10px;
}
#logo{
    border: none;
    font-family: 'Aladin', Helvetica, Arial, sans-serif;
    font-size: 130px;
    line-height: 130px;
}
#logo a,
#logo a:link,
#logo a:visited{
    color: #38a;
    text-shadow: 0px 0px 10px #ccc;
    transition: 0.5s;
}
#logo a:active{
    color: #500;
}
#logo a:hover{
    color: #944;
    text-decoration: none;
}

body#me nav .me,
body#ccbv nav .ccbv,
body#meta nav .meta,
body#linkrease nav .linkrease{
    background-color: #f3f3f3;
}
