<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <title>{{ page.title }} · &ldquo;Meshy&rdquo;</title>
    <meta charset='utf-8'>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='/media/css/base.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>
  </head>

  <body id='{{ page.bodyid }}'>
    <div class='container'>
      <header class='row'>
        <h1 id='logo'><a href='/'>Meshy</a></h1>
      </header>
      <nav class='row'>
        <ul class='nav nav-pills nav-justified'>
          <li class='{% if page.bodyid == "me" %}active{% endif %}'>
            <a href='/'>Me</a>
          </li>
          <li class='{% if page.bodyid == "ccbv" %}active{% endif %}'>
            <a href='/ccbv/'>Classy Class-Based Views</a>
          </li>
          <li class='{% if page.bodyid == "meta" %}active{% endif %}'>
            <a href='/meta/'>Meta</a>
          </li>
        <ul>
      </nav>
      <article class="row">
        <div id='content'>
          <div class='inner'>
            {{ content }}
          </div>
        </div>
      </article>
      <footer></footer>
    </div>
  </body>
</html>
